/*
 * IBM Confidential
 * OCO Source Materials
 * 5737-D18, 5725-D10
 *
 * (C) Copyright International Business Machines Corp. 2021, 2023
 *
 * The source code for this program is not published or otherwise divested
 * of its trade secrets, irrespective of what has been deposited with the
 * U.S. Copyright Office.
 */
 @use '@carbon/styles/scss/type' as *;
 @use 'variables' as *;

 ::ng-deep {
    .cds--tooltip {
        .adjust-pricing-order-table-tooltip {
        z-index: 9999;
        min-width: inherit;

        .cds--label {
            color: $white-0;
        }
        }
    }
}
