/*
 * IBM Confidential
 * OCO Source Materials
 * 5737-D18, 5725-D10
 *
 * (C) Copyright International Business Machines Corp. 2022, 2023
 *
 * The source code for this program is not published or otherwise divested
 * of its trade secrets, irrespective of what has been deposited with the
 * U.S. Copyright Office.
 */
 @use 'variables' as *;

:host {
  ::ng-deep {
    buc-button.create-customer {
      border-bottom: 1px solid $gray-20;
      button {
        max-height: 2.5rem !important;
        min-height: auto;
      }
    }
  }
}
