/*
 * IBM Confidential
 * OCO Source Materials
 * 5737-D18, 5725-D10
 *
 * (C) Copyright International Business Machines Corp. 2021, 2023
 *
 * The source code for this program is not published or otherwise divested
 * of its trade secrets, irrespective of what has been deposited with the
 * U.S. Copyright Office.
 */

@use '@carbon/colors' as *;
@use '@carbon/themes' as *;

:host {
  ::ng-deep {
    buc-button.create-order {
      background-color: $background;
      border-bottom: 1px solid $gray-20;
      button {
        max-height: 2.5rem !important;
        min-height: auto;
      }
    }
    buc-table-filter .cds--accordion__heading {
      padding-inline-end: unset;
    }
  }
}

