/*
 * IBM Confidential
 * OCO Source Materials
 * 5737-D18, 5725-D10
 *
 * (C) Copyright International Business Machines Corp. 2021, 2023
 *
 * The source code for this program is not published or otherwise divested
 * of its trade secrets, irrespective of what has been deposited with the
 * U.S. Copyright Office.
 */

:host {
  ::ng-deep {
    buc-summary-panel {
      .general-content {
        max-width: 210px;
        min-width: 180px;
      }
    }
  }
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: first baseline;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 5px;
  vertical-align: middle;
}

.label{
  display: flex;
}

.fontStyle{
  font-size: 12px;
  font-weight: 400;
}

.fontStyle-14{
  font-size: 14px;
  font-weight: 400;
}




