/*
 * IBM Confidential
 * OCO Source Materials
 * 5737-D18, 5725-D10
 *
 * (C) Copyright International Business Machines Corp. 2022, 2023
 *
 * The source code for this program is not published or otherwise divested
 * of its trade secrets, irrespective of what has been deposited with the
 * U.S. Copyright Office.
 */

:host {
  .create-customer-btn {
    border-bottom: 1px solid #e0e0e0;
    padding-right: 32px;
  }

  .search-wrapper-start {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}
}
